*{
    font-family: 'Times New Roman', Times, serif;
    size: 16px;
}

body{
    background-color: aquamarine;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(64, 55, 40);
}